{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="bg-dark">
      
      <h1 class="text-danger">{{id.page}} {{id.name}}</h1>
      {{block.super}}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">UserID</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
        {% for i in data %}
          <tr>
            <th scope="row">{{i.userId}}</th>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.body}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <h1 class="text-danger">I am inside FirstApp</h1>
    <img class="img" src="{% static 'images/Bird2.webp' %}" alt="Bird2">
    
    <script src="{% static 'js/index.js' %}"></script>
    </body>
    {% endblock %}