{% extends 'base.html' %}
{% block content %}
<div class="col-12">
    <div class="card mx-2">
        <div class="card-body">
            {% if post.image %}
            <img src="{{post.image.url}}" class="card-img-top" alt="...">
            {% endif %}
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
            <p>Genre:
                {% for cat in post.category.all %}
                <button type="button" class="btn btn-primary btn-sm my-1">{{cat}}</button>
                {% endfor %}
            </p>
            {% if request.user == post.author %}
            <a href="{% url 'EditPost' post.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'DeletePost' post.id %}" class="btn btn-danger">Delete</a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}